@model IEnumerable<Producto>
@{
    ViewData["Title"] = "Datos del Excel";
}
<div>
    <h1>Datos del Excel</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>CodFab</th>
            <th>CodProv</th>
            <th>Descripcion</th>
            <th>CodigoSat</th>
            <th>Precio</th>


        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
 
                <td>@item.Nombre</td>
                <td>@item.CodFab</td>
                <td>@item.CodProv</td>
                <td>@item.Descripcion</td>
                <td>@item.CodigoSat</td>
                <td>@item.Precio</td>               
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>