
@model IEnumerable<Cotizacion>
@{
    ViewData["Title"] = "Factura";
    float total = 0;
}

<section class="mb-3" style="display:@(Model.Any()?"":"none")">
    <button class="btn btn-success" id="btnExportar">Exportar a PDF</button>
</section>
<table class="table" id="table_factura">
    <thead>
        <tr>
            <th align="center" colspan="9"><h1 class="text-center">Cotización</h1><p class="text-center" id="fecha"></p></th>
        </tr>
        <tr>
            @*<th>Id Factura</th>*@
            <th>Id Producto</th>
            <th>Nombre</th>
            <th>CodFab</th>
            <th>CodProv</th>
            <th>Descripcion</th>
            <th>CodigoSat</th>
            <th>Precio</th>
            <th width="110px">Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            total += (item.Cantidad * item.Producto.Precio);
            <tr>
                @*<td>@item.Id</td>*@
                <td>@item.ProductoId</td>
                <td>@item.Producto.Nombre</td>
                <td>@item.Producto.CodFab</td>
                <td>@item.Producto.CodProv</td>
                <td><p class="descripcion" title="@item.Producto.Descripcion">@item.Producto.Descripcion</p></td>
                <td>@item.Producto.CodigoSat</td>
                <td>$@Negocios.Utilerias.FormatearDecimal.Formatear(item.Producto.Precio.ToString())</td>
                <td colspan="1">
                    <div class="row">
                        <form id="form-edit-cot-@item.Id" action="Edit" method="get" class="col-12">
                            <input type="number" name="cantidad" value="@item.Cantidad" class="form-control" />
                            <input value="@item.Id" name="id" type="hidden" />
                        </form>
                    </div>
                </td>
                <td colspan="2">
                    <div class="row">
                        <div class="col-6">
                            <button form="form-edit-cot-@item.Id" class="btn btn-primary form-control">Editar</button>
                        </div>
                        <div class="col-6">
                            <a onclick="return confirm('¿Desea Eliminar este Producto?')" href="@Url.Action("Delete","Cotizador",new {id=item.Id })" class="btn btn-danger form-control">Eliminar</a>
                        </div>
                    </div>
                     
                    
                </td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td colspan="10">$@Negocios.Utilerias.FormatearDecimal.Formatear((item.Cantidad * item.Producto.Precio).ToString())</td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

@section scripts{
    <script>
        //var tbody = $('#lista_productos tbody');
        $(document).ready(function () {
            $('#table_factura tfoot').html("<th>Total</th><td colspan='10'>$@Negocios.Utilerias.FormatearDecimal.Formatear(total.ToString())</td>");

            $("#btnExportar").click(() => {
                $('#fecha').html('@DateTime.Now');
                var element = document.getElementById('table_factura');
                var opt = {
                    margin: 1,
                    filename: 'myfile.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' }
                };

                // New Promise-based usage:
                html2pdf().set(opt).from(element).save();
            })
        });
    </script>
}

