
@model IEnumerable<Producto>
@{
    ViewData["Title"] = "Cotizador";
}
<section class="row">
    <div class="col-3"><a class="btn btn-info mb-3" href="/Cotizador/Cotizacion">Ver productos en cotización</a></div>
    <div class="col-9">
        <div class="row">
            <div class="col-10"></div>
            <form id="formSearch" onsubmit="buscarProducto()">
                <input id="producto" placeholder="Producto" />
                <button form="formSearch" id="btnBuscar" class="btn btn-info">Buscar</button>
                <input disabled id="productoId" placeholder="Id" />
                <input id="cantidad" type="number" placeholder="Cantidad" />

            </form>
            <div class="col-2">
                <button id="btnAgregar" class="btn btn-dark">Agregar</button>
            </div>
        </div>
        
    </div>
</section>

<section class="">
    
</section>
 
 

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>CodFab</th>
            <th>CodProv</th>
            <th>Descripcion</th>
            <th>CodigoSat</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.CodFab</td>
                <td>@item.CodProv</td>
                <td><p style="text-overflow: ellipsis; width: 200px;  padding: 2px 5px;">@item.Descripcion</p></td>
                <td>@item.CodigoSat</td>
                <td>@item.Precio</td>
                <td>
                    <form asp-action="Agregar" method="get">
                        <input type="number" name="cantidad" placeholder="Cantidad" value="" />
                        <input type="hidden" name="id" value="@item.Id" />
                        <button onclick="return confirm('¿Desea agregar este Producto?')" href="@Url.Action("Agregar","Cotizador")" class="btn btn-success">Agregar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault()
                $.ajax({
                    data: { buscado: $("#producto").val() },
                    type: "GET",
                    url: "@Url.Action("BuscarProducto","Cotizador")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        $("#productoId").val("Cargando...");
                    },
                    success: function (d) {
                        if (d.succes) {
                            $("#producto").val(d.data.nombre);
                            $("#productoId").val(d.data.id);
                        } else {
                            $("#productoId").val("Sin resultado.");
                        }

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            });
            $("#btnAgregar").click(function () {
                $.ajax({
                    data: { cantidad: $("#cantidad").val(), id: $("#productoId").val() },
                    type: "GET",
                    url: "@Url.Action("AgregarProducto","Cotizador")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        $("#productoId").val("Cargando...");
                    },
                    success: function (d) {
                        if (d.succes) {
                            $("#producto").val("");
                            $("#cantidad").val("");
                            $("#productoId").val("Producto agregado");
                        } else {
                            $("#productoId").val(d.mensaje);
                             
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            })

        })

    </script>
}