
@model IEnumerable<Producto>
@{
    ViewData["Title"] = "Cotizador";
}
<section id="factura"></section>
<section class="row">
    <div class="col-3">
        <a class="btn btn-info mb-3" id="ver" href="/Cotizador/Cotizacion">Ver productos en cotización</a>
        <button id="btnCrearFactura"  class="btn btn-info mb-3">Crear factura</button>
    </div>

    <div class="col-9">
        <div class="row">
            <div class="col-10"></div>
            <form id="formSearch">
                <input id="producto" placeholder="Producto" />
                <button form="formSearch" id="btnBuscar" class="btn btn-info">Buscar</button>
                <input disabled id="productoId" placeholder="Id" />
                <input id="cantidad" type="number" placeholder="Cantidad" />

            </form>
            <div class="col-2">
                <button id="btnAgregar" class="btn btn-dark btn-add">Agregar</button>
            </div>
        </div>
        
    </div>
</section>

<section class="">
    
</section>
 
 

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>CodFab</th>
            <th>CodProv</th>
            <th>Descripcion</th>
            <th>CodigoSat</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.CodFab</td>
                <td>@item.CodProv</td>
                <td><p style="text-overflow: ellipsis; width: 200px;  padding: 2px 5px;">@item.Descripcion</p></td>
                <td>@item.CodigoSat</td>
                <td>@item.Precio</td>
                <td>
                    <form class="form-agregar-prod" method="get" id="form-@item.Id">
                        <input type="number" name="cantidad" placeholder="Cantidad" value="" />
                        <input type="hidden" name="id" value="@item.Id" />
                        <button onclick="return confirm('¿Desea agregar este Producto?')" class="btn btn-success btn-add">Agregar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault()
                $.ajax({
                    data: { buscado: $("#producto").val() },
                    type: "GET",
                    url: "@Url.Action("BuscarProducto","Cotizador")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        $("#productoId").val("Cargando...");
                    },
                    success: function (d) {
                        if (d.succes) {
                            $("#producto").val(d.data.nombre);
                            $("#productoId").val(d.data.id);
                        } else {
                            $("#productoId").val("Sin resultado.");
                        }

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            });
            $("#btnAgregar").click(function () {
                $.ajax({
                    data: { cantidad: $("#cantidad").val(), id: $("#productoId").val() },
                    type: "GET",
                    url: "@Url.Action("AgregarProducto","Cotizador")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        $("#productoId").val("Cargando...");
                    },
                    success: function (d) {
                        if (d.succes) {
                            $("#producto").val("");
                            $("#cantidad").val("");
                            $("#productoId").val("Producto agregado");
                        } else {
                            $("#productoId").val(d.mensaje);

                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            })



            $("#btnCrearFactura").click(() => {
                $.ajax({
                    data: { },
                    type: "GET",
                    url: "@Url.Action("Crear","Factura")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                    },
                    success: function (d) {
                        if (d.succes) {
                            bloquearDesbloquear();
                        } else {

                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            })

            for (let i = 0; i < $(".form-agregar-prod").length; i++) {
                $(".form-agregar-prod")[i].addEventListener("submit", (e) => {
                    e.preventDefault();
                    $.ajax({
                        data: { cantidad: $(".form-agregar-prod")[i].cantidad.value, id: $(".form-agregar-prod")[i].id.value },
                    type: "GET",
                    url: "@Url.Action("AgregarProducto","Cotizador")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {

                    },
                    success: function (d) {
                        if (d.succes) {
                            $(".form-agregar-prod")[i].cantidad.value = "";
                        } else {


                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });

                })
            }

            $('.btn-add').attr('disabled', true);
            $("#btnCrearFactura").attr('disabled', true);

            bloquearDesbloquear();

            function bloquearDesbloquear() {
                $.ajax({
                        data: {},
                    type: "GET",
                    url: "@Url.Action("ObtenerInfoUltimaFactura", "Factura")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {

                    },
                    success: function (d) {
                        if (d.succes) {
                            $("#factura").html("<p>Estado: " + d.factura.finalizado + "</p>" + "<p>folio: " + d.factura.folio + "</p>");
                            if (!d.factura.finalizado) {
                                $('.btn-add').attr('disabled', false);
                                $("#btnCrearFactura").attr('disabled', true);
                            } else {
                                $("#btnCrearFactura").attr('disabled', false);
                            }

                        } else {

                            $("#btnCrearFactura").attr('disabled', false);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            }
        })

    </script>
}