
@model IEnumerable<Producto>
@{
    ViewData["Title"] = "Cotizador";
}
<div class="card mb-4">
    <div class="card-header">
        Factura
    </div>
    <div class="card-body">
        <p class="card-text" id="fact-folio"></p>
        <p class="card-text" id="fact-state"></p>
    </div>
    <div class="card-footer text-muted">
        <button id="btnCrearFactura" class="btn btn-info mb-3">Crear factura</button>
        <button id="btnFinalizarFactura" class="btn btn-danger mb-3">Finalizar factura</button>
        <a class="ver-cotizacion btn btn-info  mb-3" href="/Cotizador/Cotizacion">Ver cotización</a>
    </div>
</div>

<section class="row mb-4">
    <form id="formSearch" class="col-8">
        <div class="row">
            <div class="col-3"> <input id="producto" placeholder="Producto" class="form-control" /></div>
            <div class="col-3"><button form="formSearch" id="btnBuscar" class="btn btn-primary form-control">Buscar</button></div>
            <div class="col-3"><input disabled id="productoId" placeholder="Id" class="form-control" /></div>
            <div class="col-3"><input id="cantidad" type="number" placeholder="Cantidad" class="form-control" /></div>
        </div>
    </form>
    <div class="col-4">
        <button id="btnAgregar" class="btn btn-success btn-add form-control">Agregar</button>
    </div>
</section>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>CodFab</th>
            <th>CodProv</th>
            <th>Descripcion</th>
            <th>CodigoSat</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.CodFab</td>
                <td>@item.CodProv</td>
                <td><p class="descripcion" title="@item.Descripcion">@item.Descripcion</p></td>
                <td>@item.CodigoSat</td>
                <td>$@Negocios.Utilerias.FormatearDecimal.Formatear(item.Precio.ToString())</td>
                <td>
                    <form class="form-agregar-prod" method="get" id="form-@item.Id">
                        <div class="row">
                            <div class="col-6">
                                <input class="form-control " type="number" name="cantidad" placeholder="Cantidad" value="" />
                            </div>
                            <div class="col-6">
                                <button onclick="return confirm('¿Desea agregar este Producto?')" class="btn btn-success btn-add form-control">Agregar</button>
                            </div>
                        </div> 
                        <input type="hidden" name="id" value="@item.Id" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault()
                $.ajax({
                    data: { buscado: $("#producto").val() },
                    type: "GET",
                    url: "@Url.Action("BuscarProducto","Cotizador")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        $("#productoId").val("Cargando...");
                    },
                    success: function (d) {
                        if (d.succes) {
                            $("#producto").val(d.data.nombre);
                            $("#productoId").val(d.data.id);
                        } else {
                            $("#productoId").val("Sin resultado.");
                        }

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            });
            $("#btnAgregar").click(function () {
                $.ajax({
                    data: { cantidad: $("#cantidad").val(), id: $("#productoId").val() },
                    type: "GET",
                    url: "@Url.Action("AgregarProducto","Cotizador")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        $("#productoId").val("Cargando...");
                    },
                    success: function (d) {
                        if (d.succes) {
                            $("#producto").val("");
                            $("#cantidad").val("");
                            $("#productoId").val("");
                            showMensaje("Producto agregado",'success');

                        } else {
                            $("#productoId").val(d.mensaje);

                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            })



            $("#btnCrearFactura").click(() => {
                $.ajax({
                    data: { },
                    type: "GET",
                    url: "@Url.Action("Crear","Factura")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                    },
                    success: function (d) {
                        if (d.succes) {
                            bloquearDesbloquear();
                            showMensaje("Factura creada","success")
                        } else {

                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            })
            $("#btnFinalizarFactura").click(() => {
                $.ajax({
                    data: { },
                    type: "GET",
                    url: "@Url.Action("FinalizarUltimaFactura","Factura")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                    },
                    success: function (d) {
                        if (d.succes) {
                            bloquearDesbloquear();
                            showMensaje("Factura finalizada", "info")
                        } else {

                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            })
            for (let i = 0; i < $(".form-agregar-prod").length; i++) {
                $(".form-agregar-prod")[i].addEventListener("submit", (e) => {
                    e.preventDefault();
                    $.ajax({
                        data: { cantidad: $(".form-agregar-prod")[i].cantidad.value, id: $(".form-agregar-prod")[i].id.value },
                    type: "GET",
                    url: "@Url.Action("AgregarProducto","Cotizador")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {

                    },
                    success: function (d) {
                        if (d.succes) {
                            showMensaje("Producto agregado",'success');
                            $(".form-agregar-prod")[i].cantidad.value = "";
                        } else {


                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });

                })
            }

            $('.btn-add').attr('disabled', true);
            $("#btnCrearFactura").attr('disabled', true);
            $("#btnFinalizarFactura").attr('disabled', true);
            $('.ver-cotizacion').attr('hidden',true);
            bloquearDesbloquear();

            function bloquearDesbloquear() {
                $.ajax({
                        data: {},
                    type: "GET",
                    url: "@Url.Action("ObtenerInfoUltimaFactura", "Factura")",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {

                    },
                    success: function (d) {
                        if (d.succes) {
                            $("#fact-folio").html("<b>Folio:</b> "+d.factura.folio)
                            $("#fact-state").html("<b>Estado</b>: " + (d.factura.finalizado ? 'Finalizado':'Pendiente'));
                            if (!d.factura.finalizado) {
                                $('.btn-add').attr('disabled', false);
                                $("#btnCrearFactura").attr('disabled', true);
                                $("#btnFinalizarFactura").attr('disabled', false);
                                $('.btn-add').attr('disabled', false);
                                $('.ver-cotizacion').attr('hidden', false);
                            } else {
                                $("#btnCrearFactura").attr('disabled', false);
                                $("#btnFinalizarFactura").attr('disabled', true);

                                $('.btn-add').attr('disabled', true);
                                $('.ver-cotizacion').attr('hidden', true);
                            }

                        } else {

                            $("#btnCrearFactura").attr('disabled', false);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            }



            function showMensaje(mensaje, tipo) {
                switch (tipo) {
                    case 'success':
                        iziToast.success({
                            title: 'OK',
                            position: 'topRight', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
                            message: mensaje,
                        });
                        break;
                    case 'info':
                        iziToast.info({
                            title: 'Info',
                            position: 'topRight',
                            message: mensaje,
                        });
                        break;
                    case 'warning':
                        iziToast.warning({
                            title: 'Caution',
                            position: 'topRight',
                            message: mensaje,
                        });
                        break;
                    case 'error':
                        iziToast.error({
                            title: 'Error',
                            position: 'topRight',
                            message: mensaje,
                        });
                        break;
                    default:
                        console.log('Opción incorrecta');
                }





            }

        })


    </script>
}