
@model IEnumerable<ViewFacturaProducto>
@{
    ViewData["Title"] = "Productos en Factura";
   
    float subTotal = 0;
    float totalDescuento = 0;
    float totalIva = 0;
}

<section class="mb-3" style="display:@(Model.Any()?"":"none")">
    <button class="btn btn-success mt-2" id="btnExportar">Exportar a PDF</button>
</section>
<table class="table" id="table_factura">
    <thead>
        <tr>
            <td colspan="3" align="center"><img width="300px" src="~/imgs/logo.png" /></td>
            <th align="center" colspan="6">
                <h1 class="text-center">Cotización</h1>
                <p class="text-center" id="fecha">@if (Model.Any())
                    {
                        <span>@Model.First().FechaImpresion</span>
                    }
                </p>
                <p id="cont-fol" class="text-center">Folio: 
                    @if (Model.Any())
                    {
                        <span id="folio">@Negocios.Utilerias.GeneradorFolio.Generar(Model.First().FacturaId)</span>
                    }
                </p>
             </th>
        </tr>
        <tr>
            <th>Id Producto</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th width="">Cantidad</th>
            @*<th class="hidd-when-reporting">Acciones</th>*@
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            subTotal += item.TotalPorProducto;
        <tr>
                <td>@item.ProductoId</td>
                <td>@item.NombreProducto</td>
                <td><p class="descripcion" title="@item.DescripcionProducto">@item.DescripcionProducto</p></td>
            <td>$@Negocios.Utilerias.FormatearDecimal.Formatear(item.PrecioProducto.ToString())</td>
                <td>@item.Cantidad</td>
        </tr>
            <tr>
                <th>Total por producto</th>
                <td colspan="10">$@Negocios.Utilerias.FormatearDecimal.Formatear(item.TotalPorProducto.ToString())</td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

@section scripts{
    <script>
        //var tbody = $('#lista_productos tbody');
        $(document).ready(function () {

            @if(Model.Any()){
            totalDescuento = subTotal - ((Model.First().Descuento / 100) * subTotal);
            totalIva = totalDescuento + ((Model.First().IVA / 100) * totalDescuento);

            }

            let cadenaTotales = "<tr><th>SubTotal</th><td colspan='10'>$@Negocios.Utilerias.FormatearDecimal.Formatear(subTotal.ToString())</td></tr>"
            cadenaTotales += "<tr><th>Total Con Descuento</th><td colspan='10'>$@Negocios.Utilerias.FormatearDecimal.Formatear(totalDescuento.ToString())</td></tr>"
            cadenaTotales += "<tr><th>Total con IVA</th><td colspan='10'>$@Negocios.Utilerias.FormatearDecimal.Formatear(totalIva.ToString())</td></tr>"
            $('#table_factura tfoot').html(cadenaTotales);

            $("#btnExportar").click(() => {
                showMensaje("Generando pdf","info");
           
                    var element = document.getElementById('table_factura');
                    var opt = {
                        margin: 1,
                        filename: $('#folio').html(),
                        image: { type: 'jpeg', quality: 0.98 },
                        html2canvas: { scale: 2 },
                        jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' }
                    };

                    // New Promise-based usage:
                    html2pdf().set(opt).from(element).save();
            });


 
            function formatearFecha(fecha){
                let date = new Date(fecha)

                let day = date.getDate()
                let month = date.getMonth() + 1
                let year = date.getFullYear()

                let hours = date.getHours()
                let minutes = date.getMinutes()
                let seconds = date.getSeconds()
                if (month < 10) {
                    month = "0"+month
                }
                if(day<10){
                    day = "0"+day
                }
                if(hours>12){
                    hours = hours-12
                    seconds = seconds+" p. m"
                }else{
                    seconds = seconds + " a. m"
                }
                return `${day}/${month}/${year} ${hours}:${minutes}:${seconds}`;
            }
            function showMensaje(mensaje, tipo) {
                switch (tipo) {
                    case 'success':
                        iziToast.success({
                            title: 'OK',
                            position: 'topRight', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
                            message: mensaje,
                        });
                        break;
                    case 'info':
                        iziToast.info({
                            title: 'Info',
                            position: 'topRight',
                            message: mensaje,
                        });
                        break;
                    case 'warning':
                        iziToast.warning({
                            title: 'Caution',
                            position: 'topRight',
                            message: mensaje,
                        });
                        break;
                    case 'error':
                        iziToast.error({
                            title: 'Error',
                            position: 'topRight',
                            message: mensaje,
                        });
                        break;
                    default:
                        console.log('Opción incorrecta');
                }
            }
        });
    </script>
}

